{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Parser</h1>
        <p class="lead"> This is the Flask app that shows the parsed PDF files in the form of text!</p>
        <div class="body-parser">

            <table style="width:100%" border="1">
  <tr>
    <th>Id</th>
    <th>Text</th>
    <th>Position</th>
  </tr>

      {% for score in results %}
                <tr>
      <td>{{score.id}}</td>
      <td>{{score.info}}</td>
      <td>{{score.content}}</td>
    </tr>
      {% endfor %}
</table>

        </div>
    </div>
{% endblock %}


